@import './reset.css';

/* Basic Formatting */

:root {
  --primary-bg-colour: rgb(238, 238, 238);
  --secondary-bg-colour: rgb(254, 254, 255);
  --primary-border-colour: rgb(209, 209, 209);
  --primary-shadow-colour: rgba(211, 211, 211, 0.5);
  --secondary-shadow-colour: rgb(133, 133, 133);
  --primary-accent-colour: rgb(90, 135, 233);
  --primary-text-colour: rgb(40, 39, 43);
  --secondary-text-colour: rgb(122, 120, 136);
}

* { transition: all 0.2s ease-in-out; }

.flex { display: flex; }

body { background-color: var(--primary-bg-colour); }

.white-box {
  border: 1px solid var(--primary-border-colour);
  box-shadow: 1px 1px 2px var(--primary-shadow-colour);
  background-color: var(--secondary-bg-colour);
  border-radius: 6px;
}

/* Header */

header {
  background-color: var(--secondary-bg-colour);
  padding: 0 40px;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-border-colour);
  box-shadow: 0 1px 2px var(--primary-shadow-colour);
  input[type=text] {
    margin-left: 40px;
    height: 40px;
    width: 240px;
    padding: 10px 10px 10px 35px;
    border: 1px solid var(--primary-border-colour);
    border-radius: 20px;
  }
  input[type=text]:focus {
    border-color: gray;
    box-shadow: 0 0 2px var(--secondary-shadow-colour);
  }
  a { 
    color: var(--primary-text-colour);
    text-decoration: none; 
  }
  a:hover {
    text-shadow: 0 0 2px var(--secondary-shadow-colour);
  }
  nav {
    margin-left: -300px;
    gap: 30px;
    display: flex;
  }
}

.searchbar {
  position: relative;
  i {
    color: var(--secondary-text-colour);
    position: absolute;
    left: 50px;
    top: 32px;
  }
}

/* Icons */

.icon, .user-icon {
  align-self: center;
  height: 50px;
  min-width: 50px;
  border: 1px solid var(--primary-shadow-colour);
  background-color: var(--primary-accent-colour);
  cursor: pointer;
}

.icon {
  border-radius: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  a { padding-top: 10px; }
  i {
    color: var(--secondary-bg-colour);
    font-size: 28px;
  }
}

.user-icon {
  border-radius: 50%;
}

/* Main Feed */

.main-feed, .post-container { 
  
  overflow-y: auto;
}

.main-feed {
  min-height: calc(100dvh - 100px); 
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.post-container {
  position: absolute;
  margin: 30px 20px 20px 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  width: 40%;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
}

.poster-info {
  height: 40px;
  margin-bottom: 20px;
  line-height: 40px;
}

.poster-name { 
  margin-left: 15px;
  font-weight: 500; 
}

.poster-time {
  margin-left: auto;
  margin-right: 10px;
}

/* Side Boxes */

.user-info, .people-know {
  top: 30px;
  position: sticky;
  overflow: visible;
  margin: 30px;
  padding: 20px;
  height: 350px;
  width: 25%;
  h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }
}

.user-info .user-icon { 
  height: 50px;
  width: 50px;
}

.people-know {
  margin-left: auto;
  h3 { margin-right: 80px; }
}

/* Media Queries */

@media (max-width: 1280px) {
  header nav { margin: 0px 30px; }
  .user-info, .people-know { 
    padding: 15px;
    h3 { font-size: 16px; }
  }
  .people-know h3 { margin-right: 50px; }
}

@media (max-width: 1060px) {
  .user-info, .people-know { 
    padding: 10px;
    h3 { font-size: 14px; }
  }
  .people-know h3 { margin-right: 30px; }
}

@media (max-width: 920px) {
  header {
    nav {
      gap: 25px;
      font-size: 14px;
    }
    input[type=text] {
      font-size: 14px;
      margin-left: 30px;
      width: 160px;
    }
  }
  .icon, .user-icon {
    height: 40px;
    min-width: 40px;
  }
  .user-info .user-icon { 
    height: 40px;
    width: 40px;
  }
  .icon {
    border-radius: 12px;
    a { padding-top: 7px; }
    i { font-size: 22px; }
  }
  .searchbar i { left: 40px; }
}

@media (max-width: 800px) {
  header {
    nav {
      gap: 22px;
      font-size: 12px;
    }
    input[type=text] {
      margin-left: 25px;
      width: 140px;
      font-size: 12px;
    }
  }
  .user-info, .people-know { 
    width: 24%;
    margin-top: 25px; 
    h3 { 
      font-weight: 500;
      margin-top: 8px; 
    }
  }
  .post-container { margin: 25px 15px 15px 15px; }
  .poster-name { font-size: 14px; }
  .poster-time { font-size: 14px; }
  .searchbar i { left: 35px; }
}

@media (max-width: 720px) {
  header {
    nav {
      margin: 0px 20px;
      gap: 18px;
      font-size: 11px;
    }
    input[type=text] {
      width: 120px;
      font-size: 11px;
    }
  }
  .user-info, .people-know { 
    width: 23%;
    margin-top: 20px; 
  }
  .post-container { margin: 20px 15px 15px 15px; }
  .poster-name { font-size: 12px; }
  .poster-time { font-size: 12px; }
  .searchbar i { top: 33px; }
}