@import './reset.css';

:root {
  --primary-bg-colour: rgb(238, 238, 238);
  --secondary-bg-colour: rgb(254, 254, 255);
  --primary-border-colour: rgb(209, 209, 209);
  --primary-shadow-colour: rgba(211, 211, 211, 0.5);
  --secondary-shadow-colour: rgb(133, 133, 133);
  --primary-text-colour: rgb(40, 39, 43);
}

* { transition: all 0.2s ease-in-out; }

.flex { display: flex; }

body { background-color: var(--primary-bg-colour); }

.white-box {
  border: 1px solid var(--primary-border-colour);
  box-shadow: 1px 1px 2px var(--primary-shadow-colour);
  background-color: var(--secondary-bg-colour);
}

header {
  background-color: var(--secondary-bg-colour);
  padding: 0 30px;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--primary-border-colour);
  box-shadow: 0 1px 2px var(--primary-shadow-colour);
  input[type=text] {
    margin-left: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--primary-border-colour);
    border-radius: 20px;
  }
  input[type=text]:focus {
    border-color: gray;
    box-shadow: 0 0 2px var(--secondary-shadow-colour);
  }
  a { 
    color: var(--primary-text-colour);
    text-decoration: none; 
  }
  a:hover {
    text-shadow: 0 0 2px var(--secondary-shadow-colour);
  }
  nav {
    gap: 30px;
    display: flex;
  }
}

.icon, .user-icon {
  align-self: center;
  height: 50px;
  width: 50px;
  border: 1px solid var(--primary-border-colour);
  cursor: pointer;
}

.icon {
  border-radius: 15px;
  background-color: aquamarine;
}

.user-icon {
  border-radius: 50%;
  background-color: aqua;
}